.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {
    background-color: #1d1d1d;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .content {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .middle {
    display: flex;
    flex-direction: column;
    flex: 3;
    background-color: #1f2021;
    color: white;
  }
  
  .middle-section {
    flex: 1;
    padding: 10px;
    margin: 5px;
    color: #7a7b7b;
  }
  
  .right-side {
    flex: 1;
    padding: 10px;
    background-color: #313638;
    color: white;
    overflow-y: hidden;
    position: relative;
  }
  
  .products-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
  color: #242424;
}

.product-box {
  border: 3px solid #ccc;
  padding: 5px;
  border-radius: 14px;
  cursor: pointer;
  text-align: center;
}

.product-box:hover{
  filter: brightness(80%);
}


.categories-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
  color: #242424;
}

.category-box {
  border: 5px solid #ccc;
  padding: 24px;
  text-align: center;
  border-radius: 14px;
  cursor: pointer;
}

.category-box:hover{
  filter: brightness(80%);
}

.order-summary {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.order-button {
  margin-bottom: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.order-button:hover {
  background-color: #0056b3;
}

.cancel-button {
  margin-top: 0; /* Add some space between the two buttons */
  background-color: #dc3545; /* Use red color for the Cancel button */
}

.cancel-button:hover {
  background-color: #c82333; /* Darker red on hover */
}

.totali{
  margin-top: auto;
}

.order-text-above{
  margin-top: 5px;
}