.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {
    background-color: #3f51b5;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .content {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .middle {
    display: flex;
    flex-direction: column;
    flex: 3;
  }
  
  .middle-section {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
  }
  
  .right-side {
    flex: 1;
    padding: 10px;
  }
  
  .products-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}

.product-box {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}