

.card{
    background-color: rgb(25, 87, 120);
   
   max-width: 200px;
   min-width: 199px;
   height: 140px;
   color: red;
   border-radius: 10px;
   margin: 10px;
   border: transparent;
   
}


.titulli{
   display: flex;
   flex-direction: column;
   text-align: start;
   margin-top: 40px;
   padding: 15px;
   gap: 4px;
}

.titulli h2{
   color: black;
   
}
.titulli p{
  color: rgba(169, 159, 159, 0.485);
   

}