*{
  color: azure;
  margin: 0;
  
}
.container{
    background-color: rgb(20, 16, 16);
    max-width: 1500px;
    height: 100vh auto;
    min-height: 100vh;
    
    padding-left: 25px;
   
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 .user button{
  margin-right:5pc ;
  padding: 10px 50px;
  background-color:rgb(77, 86, 86) ;
  font-weight: bold;
  border: transparent;
  border-radius: 25px;
 }
.logo-search{
  display: flex;
  align-items: center;
    padding: 20px;
    padding-bottom: 3pc;

}
.cards{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
    height: max-content;
    
}
.slider-container {
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .cards {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%; 
   
   
  }
  
  
  .bill{
    width: 65%;
    display: flex;
    flex-direction: column;
    
  }

  .flex{
    display: flex;
    flex-direction: row;
  }
  .fature{
    margin-top: 25px;
    
    width: 35%;
    margin-left: 55px;
    padding-left: 20px;
    border-left: 2px solid rgb(126, 119, 119);
  }
  .fature p {
    padding-bottom: 20px;
    padding-top: 20px;
    letter-spacing: 0.05em;
  }

  .fature h2{
    letter-spacing: 0.1em;
  }
  .total{
    width: 92%;
   padding-top: 8px;
    border-top: 2px solid rgb(126, 119, 119);
    
  }
  .fature button{
    background-color: rgb(23, 71, 184);
    padding: 10px 70px;
    border-radius: 50px;
    border: transparent;
    margin: 60px;
    font-size: 15px;
    cursor: pointer;
  }

.cards-product{
  display: flex;
  flex-wrap: wrap;

  
 
}

.cards::-webkit-scrollbar {
  width: 8px;
  height: 10px;

  
}

.cards::-webkit-scrollbar-thumb {
  background-color: rgb(87, 83, 83); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.cards::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.814); /* Darker color on hover */
}
.bill h1{
  margin: 0 auto;
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.8rem;
  letter-spacing: 0.2em;
  
  
}
.product h1{
  
  margin-top:32px ;
  text-align: center;
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.8rem;
}

.logo-search img{
  height: 80px;
  width: 100px;
  padding-right:55px;
  
}
.logo-search input{
  padding: 10px;
  border: transparent;
  border-radius: 25px;
  background-color: rgb(77, 86, 86);
  outline: none;
  
}
input[type="search"]::placeholder {
  color: rgb(39, 130, 180); /* Set placeholder text color */
}