
EasyOrder/.vs/EasyOrder/FileContentIndex/8461132f-e8ef-495c-97ad-1c27d750fe96.vsidx
EasyOrder/.vs/EasyOrder/FileContentIndex/f34bd81f-667a-473c-8ad3-905cd37a07b1.vsidx
EasyOrder/.vs/EasyOrder/DesignTimeBuild/.dtbcache.v2
EasyOrder/.vs/EasyOrder/DesignTimeBuild/.dtbcache.v2
